@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
body{
    font-family: Karla;
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: hsl(204, 43%, 93%);
}
*{
    box-sizing: border-box;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container{
    display: flex;
    flex-direction: column;
    background-color: white;
    max-width: 50vw;
    border-radius: .5em;
    box-shadow: 0 0 18px hsla(216, 22%, 67%, 0.333);
}
.top-container{
    padding: 40px;
}
.top-container h1{
    color:hsl(179, 62%, 43%);
}
.top-container .first-paragraph{
    color:hsl(71, 73%, 54%);
    font-size: 1.4em;
}
.left #first-par{
    display: flex;
    align-items: center;
    justify-content: start;
    gap:1em;
    color:rgba(229, 239, 245, 0.622);
}
.left #first-par span{
    font-size: 2em;
    color: hsl(204, 43%, 93%);
}
/* .top-container p{
    max-width: 80%;
} */
.bottom-container{
    display: flex;
    justify-content: center;
    align-items: start;
    background-color:hsl(178, 60%, 44%);
    width: 100%;
    color:hsl(204, 43%, 93%);
}
.bottom-container > div{
    width:50%;
}
.left{
    display: flex;
    flex-direction: column;
    justify-content:start;
    gap:1em;
    padding: 40px;
}
.left a {
    background-color: hsl(71, 73%, 54%);
    color:hsl(204, 43%, 93%);
    text-align: center;
    padding: 14px;
    border-radius: .4em;
}
.right{
    padding: 40px;
   
}
.right p{
    color:rgba(255, 255, 255, 0.604);
}
.bottom-container #bright-blue-bg{
    background-color:hsl(179, 47%, 52%)  !important;
}