@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: hsl(204, 43%, 93%);
    font-size: 16px;
    max-width: 1440px;
    margin: auto;
}
*{
    font-family: Karla;
}
main{
    
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 50vw;
    border-radius: .5em;
}
#first-section{
    background-color: #fff;
    padding: 40px;
    width: 90%;
}
#first-section h1{
    color:hsl(179, 62%, 43%);
}
#first-section #first-paragraph{
    color:hsl(71, 73%, 54%);
    font-weight: 700;
}
#first-section #second-paragraph{
    max-width: 550px;
}
#second-section{
    display: flex;
    justify-content: space-between;
    color: hsl(204, 43%, 93%);
    font-size: .9em;
    width: 100%;
}
#second-section .left{
    background-color: hsl(179, 62%, 43%);
    padding: 40px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.left span{
    font-size: 2em;
    color:hsl(204, 43%, 93%);
}
.left a{
    background-color: hsl(71, 73%, 54%);
    text-align: center;
    padding: 14px;
    border-radius: .4em;
    color:hsl(204, 43%, 93%);
    text-decoration: none;
    font-weight: 700;
    font-size: 1.3em;
    box-shadow:0 0 10px hsl(218, 22%, 67%);
}
#text-with-span{
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: 1em;
    color:hsla(203, 44%, 93%, 0.556);
}
#second-section .right{
    background-color: hsla(179, 62%, 43%, 0.542);
    padding: 40px;
    width: 50%;
}